* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../starter-code/assets/crew/background-crew-desktop.jpg');
  text-align: left;
}

main {
  display: flex;
}

h1 {
  margin-bottom: 8rem;
}

h2 {
  color: #aaa;
  font-size: 2rem;
  font-family: 'Bellefair', serif;
  margin-bottom: 1.25rem;
}

h3 {
  font-family: 'Bellefair', serif;
  font-size: 3.3125rem;
  font-weight: 500;
}

h4 {
  font-family: 'Bellefair', serif;
  color: #fff;
}

p {
  padding-left: 0.3125rem !important;
  padding-bottom: 2.5rem;
}

span {
  color: #aaa;
}

.left-container {
  padding: 0 0 0 10%;
}

.left-container p {
  padding: 0 20% 0 10%;
}

.right-container {
  padding-left: 11rem;
}

.crew-select {
  margin-top: 5rem;
}

.crew-select input {
  display: none;
}

.crew-select label {
  border-radius: 50%;
  background-color: #7d7d7d8c;
  display: inline-block;
  margin-left: 0.125rem;
  margin-right: 1.25rem;
  height: 0.9375rem;
  width: 0.9375rem;
}

input[type=radio]:checked+label {
  background-color: #fff;
  color: #fff;
}

@media (max-width: 62rem) {
  body {
    background-image: url('../starter-code/assets/crew/background-crew-tablet.jpg');
    background-size: cover;
    text-align: left;
    padding: 2rem;
  }

  h1 {
    font-size: 1rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
  }

  h3 {
    font-size: 2.8125rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5625rem;
  }

  .left-container {
    padding: 0.625rem;
  }

  .right-container {
    padding-left: 0;
    position: static;
  }
}

@media (max-width: 48rem) {
  body {
    background-image: url('../starter-code/assets/crew/background-crew-mobile.jpg');
    text-align: center;
    padding-top: 0;
  }

  h1 {
    margin: 0.625rem;
    padding-top: 0.3125rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0.625rem;
  }

  h3 {
    font-size: 2rem;
  }

  .left-container p {
    padding: 0;
  }

  .right-container {
    overflow: hidden;
  }

  .right-container img {
    width: 28.5rem;
    height: 35.75rem;
  }

  .crew-select {
    margin-top: 1rem;
  }
}

@media (max-width: 26.875rem) {
  body {
    background-image: url('../starter-code/assets/crew/background-crew-mobile.jpg');
  }

  .right-container img {
    width: 11.0625rem;
    height: 13.875rem;
  }

  .attribution {
    font-size: 0.5rem;
    padding: 0;
  }
}
