* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../starter-code/assets/destination/background-destination-desktop.jpg');
  text-align: left;
}

main {
  display: flex;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
}

h4 {
  font-family: 'Bellefair', serif;
  color: #fff;
}

p {
  padding-left: 0.3125rem !important;
  padding-bottom: 2.5rem;
}

span {
  color: #aaa;
}

.left-container {
  padding: 0 10%;
}

.right-container {
  padding-left: 11rem;
  padding-right: 5rem;
}

.nav-planet {
  padding-left: 0.3125rem !important;
}

@media (max-width: 62rem) {
  body {
    background-image: url('../starter-code/assets/destination/background-destination-tablet.jpg');
    background-size: cover;
    text-align: left;
    padding: 2rem;
  }

  h2 {
    font-size: 5rem;
  }

  .right-container {
    padding-left: 5rem;
  }

  .planet-img {
    width: 120%;
  }
}

@media (max-width: 48rem) {
  body {
    background-image: url('../starter-code/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    text-align: center;
    padding: 2rem;
  }

  ul.nav {
    justify-content: center;
  }

  .planet-img {
    width: 70%;
  }

  .right-container {
    padding: 4rem;
  }
}

@media (max-width: 26.875rem) {
  body {
    padding: 0.3125rem;
  }

  .right-container {
    padding: 1rem;
  }
}
