* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../starter-code/assets/destination/background-destination-desktop.jpg');
  text-align: left;
}

main {
  display: flex;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  font-size: 100px;
}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
}

h4 {
  font-family: 'Bellefair', serif;
  color: #fff;
}

p {
  padding-left: 5px !important;
  padding-bottom: 2.5rem;
}

span {
  color: #aaa;
}

.left-container {
  padding: 0 10%;
}

.right-container {
  padding-left: 11rem;
}

.nav-planet {
  padding-left: 5px !important;
}
