*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../starter-code/assets/destination/background-destination-desktop.jpg');
  text-align: left;
}

main {
  display: flex;
}


.left-container {
    padding: 0 10%;
}
