* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../starter-code/assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(231, 77%, 90%);
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
  text-transform: uppercase;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.75rem;
  letter-spacing: 0.296875rem;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-family: 'Bellefair', serif;
  font-size: 9.375rem;
}

p {
  text-transform: none;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

.navigation-bar {
  height: 10.9375rem;
}

.navbar-toggler-icon {
  margin-right: 1rem;
}

.navbar-nav {
  backdrop-filter: blur(5rem);
  padding-left: 6.25rem;
  padding-right: 8.125rem;
}

.nav-link {
  color: #fff !important;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
  font-weight: 400;
  padding: 0.625rem 1.875rem !important;
}

.big-circle {
  display: flex;
  margin: 25%;
  justify-content: center;
}

.explore {
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  width: 15.625rem;
  height: 15.625rem;
}

.explore a {
  font-family: 'Bellefair', serif;
  font-size: 2rem;
  text-decoration: none;
}

.left-container {
  padding: 5% 10%;
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */
/* footer section */
.attribution {
  color: #BFBFBF;
  font-size: 0.6875rem;
  padding: 2.5rem 0 2.5rem 0;
  text-align: center;
}

.attribution a {
  color: hsl(248, 32%, 49%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(154, 59%, 51%);
  background-color: #fff;
}

/* media query */
@media (max-width:62rem) {
  body {
    background-image: url('../starter-code/assets/home/background-home-tablet.jpg');
    text-align: center;
  }

  h1 {
    font-size: 1.875rem;
    letter-spacing: 0.2625rem;
  }

  h2 {
    font-size: 7.5rem;
  }

  p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 0;
  }

  .navigation-bar {
    height: 6.875rem;
  }

  .navbar-toggler-icon {
    padding-right: 2.5rem;
  }

  .left-container {
    padding-top: 0.75rem;
    padding-bottom: 0;
  }

  .big-circle {
    display: flex;
    margin: 10%;
    justify-content: center;
  }

  .home__explore {
    width: 12.5rem;
    height: 12.5rem;
  }
}

@media (max-width: 48rem) {
  body {
    background-image: url('../starter-code/assets/home/background-home-mobile.jpg');
    background-size: cover;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }

  h2 {
    font-size: 6.25rem;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .navigation-bar {
    height: 6.25rem;
  }

  .navbar-toggler-icon {
    padding-right: 2.5rem;
  }

  .left-container {
    padding-top: 0.5rem;
    padding-bottom: 0;
  }

  .home__explore {
    width: 9.375rem;
    height: 9.375rem;
  }
}

@media (max-width: 26.875rem) {
  body {
    background-image: url('../starter-code/assets/home/background-home-mobile.jpg');
    background-size: cover;
    text-align: center;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 5rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5625rem;
  }
}
