* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(226, 43%, 10%);
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

section {
  height: 100%;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 3.5rem;
  font-weight: 300;
}

p {
  color: hsl(236, 100%, 87%);
}

.mousePointerChange, .front-box {
  cursor: pointer;
}

.profile-box {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.time-box {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

.profile-front-box {
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
  padding: 2.5rem;
  height: 320px;
  width: 260px;
  z-index: +2;
}

.profile-front-box h1 {
  margin-bottom: 2rem;
  font-weight: 300;
}

.dp-img {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 60px;
  padding: 0;
  height: 60px;
}

.profile-bg-box {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 6rem 2.5rem 2.5rem;
  height: 245px;
  width: 260px;
  transform: translateY(-3em);
}

.profile-front-box br {
  display: block;
}

.profile-bg-box a {
  font-size: 1.1rem;
  margin-top: 2rem;
  text-decoration: none;
  color: hsl(235, 45%, 61%);
}

.profile-bg-box a:hover {
  color: #fff;
}

a:focus,
a:active {
  color: #fff;
  font-weight: bold;
}

.box {
  width: 260px;
  height: 190px;
  border-radius: 15px;
}

.box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-box .bg-img {
  margin-top: 0;
  margin-left: 160px;
  margin-top: -5px;
}

.bg-box {
  position: absolute;
  overflow: hidden;
  padding: 0;
}

.front-box {
  padding: 1rem;
  position: absolute;
  left: 24px;
  top: 45px;
  background-color: hsl(235, 46%, 20%);
}

.front-box h2 {
  display: inline-block;
}

.front-box:hover {
  background-color: hsl(235, 45%, 61%);
}

.work,
.play,
.study,
.exercise,
.social,
.self-care {
  position: relative;
  max-height: 250px;
}

.work .bg-box {
  background-color: hsl(15, 100%, 70%);
}

.play .bg-box {
  background-color: hsl(195, 74%, 62%);
}

.study .bg-box {
  background-color: hsl(348, 100%, 68%);
}

.exercise .bg-box {
  background-color: hsl(145, 58%, 55%);
}

.social .bg-box {
  background-color: hsl(264, 64%, 52%);
}

.self-care .bg-box {
  background-color: hsl(43, 84%, 65%);
}

/* footer section */
.attribution {
  color: #BFBFBF;
  font-size: 0.6875rem;
  padding: 2.5rem 0 2.5rem 0;
  text-align: center;
}

.attribution a {
  color: hsl(248, 32%, 49%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(154, 59%, 51%);
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  main {
    height: 200vh;
  }

  .profile-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
  }

  .profile-front-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 120px;
    padding: 24px;
  }

  .profile-bg-box {
    position: absolute;
    height: 100px;
    width: 300px;
    padding: 24px;
    transform: translateY(5.5em);
    padding-top: 48px;
    text-align: center;
  }

  .box {
    width: 300px;
    height: 120px;
  }

  .profile-bg-box a {
    margin: auto 5px;
  }

  .profile-bg-box br {
    display: none;
  }

  h1 {
    font-size: 1.3rem;
  }

  .profile-front-box br {
    display: none;
  }

  .time-box {
    display: flex;
    height: 170vh;
    margin: auto;
    width: 20rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}
